<h1>Afficher un Genre</h1>

<p>ID : #<%= @genre.id %></p>
<p>Nom : <%= @genre.name %></p>

<p>
	<%= link_to 'Liste des Genres', genres_path, class: 'btn btn-primary' %>
	<%= link_to 'Modifier le Genre', edit_genre_path, class: 'btn btn-primary' %>
</p>